#{extends 'main.html'/} #{set title: 'Voz Digital'/}
<!-- Mostra de publicações -->
<br />
<h1>VOZ DIGITAL</h1>
<br />
#{if session.get("usuario.nivel")} #{paginate.list items:listaPaginada2,
as:'l'}
<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">${l.titulo}</h5>
		<h6 class="card-subtitle mb-2 text-muted">${l.nome}</h6>
		<p class="card-text">${l.descricao}</p>
		<a target="_blank" href="/uploads/pdf/${l?.pdf}">${l.pdf}</a>
		
		<br /> 
		#{if
		session.get("usuario.nivel").equals("admin")} 
		<a href='@{VozDigital.deletar(l.id)}' > 
		<img src="../public/images/x.png" style="width: 20px;"> </a> 
		#{/if} 
		<br />
	</div>
</div>

#{/paginate.list} #{else}
<p>Nenhum trabalho avaliado</p>
#{/else} #{/if}

<!-- Tabela de envio -->
#{if session.get("usuario.nivel").equals("admin")}
<br />
<br />
<table class="table table-striped table-dark">
	<thead>
		<tr>
			<th scope="col">Nome do usuário</th>
			<th scope="col">Título</th>
			<th scope="col">Descrição</th>
			<th scope="col">PDF</th>
			<th scope="col">Avaliar</th>
		</tr>
	</thead>
	<tbody>
		#{paginate.list items:listaPaginada, as:'l'}
		<tr>
			<td>${l?.nome}</td>
			<td>${l?.titulo}</td>
			<td>${l?.descricao}</td>
			<td><a target="_blank" href="/uploads/pdf/${l?.pdf}">${l?.pdf}</a></td>
			<td>
				<form action="@{VozDigital.publicacao}">
					<input type="hidden" value="${l.id}" name="id">
					<div class="input-group">
						<select name="n" class="custom-select">
							<option value="ATIVO">Publicar</option>
							<option value="INATIVO">Não Publicar</option>
						</select>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary btn-sm">Enviar</button>
						</div>
					</div>
				</form>
			</td>
		</tr>
		#{/paginate.list} #{else}
		<td colspan="5">Nenhuma solicitação de envio</td> #{/else}
	</tbody>
</table>
#{/if}
<!-- Formulario de envio -->
#{if session.get("usuario.nivel").equals("comum")}
<br />
<br />
<form action="@{VozDigital.salvar}" method="post"
	enctype="multipart/form-data">
	<input type="hidden" name="v.id" value="${v?.id}">
	<div class="form-group">
		<label for="exampleFormControlInput1">Título do Trabalho</label> <input
			type="text" class="form-control" id="exampleFormControlInput1"
			name="v.titulo" value="${v?.titulo}" placeholder="Título">
	</div>
	<div class="form-group">
		<label for="exampleFormControlTextarea1">Descrição</label>
		<textarea class="form-control" name="v.descricao"
			id="exampleFormControlTextarea1" rows="3">${v?.descricao}</textarea>
	</div>
	<div>
		<label for="pdf">Arquivo</label> <input type="file" name="pdf"
			class="form-control">
	</div>
	<br />
	<button type="submit" class="btn btn-primary mb-2">Enviar</button>
</form>
#{/if}
